* { 
    background-color: #c0c0c0;
    box-sizing: border-box;
    text-align: center;
    font-family: monospace;
    outline: none;
}
.text-important {
    font-size: 3rem;
}

.tab {
    padding: 1rem;
    border: solid black 1px;
    border-radius: 10%;
}

#math-equation {
    font-size: 3rem;
}